/*top*/
html {
    font-size: 1rem;
}

body {
    background-color: #fafafa;
    min-width: 320px;
}

.top {
    width: 100%;
    height: 2.5rem;
}

.tel {
    font-size: .875rem;
    color: #29b078;
    line-height: 2.5rem;
}

.imgGroup {
    float: right;
    line-height: 2.5rem;
}

.imgGroup img {
    cursor: pointer;
}

.nav {
    width: 100%;
    height: 6.25rem;
    background-color: #29b078;
}

.nav-list a {
    display: inline-block;
    box-sizing: border-box;
    width: 6.57rem;
    height: 6.25rem;
    font-size: 1rem;
    color: white;
    line-height: 6.25rem;
}

.nav-list a:hover {
    text-decoration: none;
    border-bottom: .25rem solid white;
}

.nav-list a:focus {
    text-decoration: none;
    border-bottom: .25rem solid white;
}

.position {
    border-bottom: .25rem solid white;
}

@media screen and (max-width: 480px) {

    .nav {
        height: 2.5rem;
    }

    .nav div {
        text-align: center;
    }

    .nav-list a:first-child {
        background-color: white;
        color: #29b078;
    }

    .nav-list a {
        display: inline-block;
        box-sizing: border-box;
        width: 20%;
        color: white;
        line-height: 2.5rem;
    }

    .nav-list a:focus {
        background-color: white;
        color: #29b078;
    }

    .position {
        border-bottom: 0;
    }
}

.logo {
    float: left;
    margin-top: 1.5rem;
}

.breadcrumb div {
    height: 5.125rem;
    margin-left: -15px;
    line-height: 5.125rem;
    font-size: 1rem;
}

.breadcrumb a {
    color: #29b078;
}

@media screen and (max-width: 600px) {
    .logo {
        position: fixed;
        left: -500px;
    }
}

/*bottom*/
.bottom {
    box-sizing: border-box;
    width: 100%;
    background-color: #26a26f;
}

.info {
    padding-top: 2rem;
}

.left p:last-child {
    margin-top: 2rem;
}

.bot {
    margin-top: 1rem;
}

.font-format5 {
    font-size: 1rem;
    color: white;
}

.font-format6 {
    font-size: .875rem;
    color: white;
}

/*内容部分*/
/***************************************************************/
.submenu {
    box-sizing: border-box;
    height: 3.875rem;
    margin-bottom: 1px;
    line-height: 3.875rem;
    font-size: .875rem;
    border-top: 1px #d0d6d9 solid;
    border-bottom: 1px #d0d6d9 solid;
}

.submenu > span {
    float: left;
    color: #999999;
}

.submenu > ul {
    list-style: none;
}

.submenu > ul > li {
    float: left;
    margin: 0 1rem;
}

.submenu > ul > li > a {
    padding: 0 2px;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.submenu > ul > li:first-child > a {
    padding: 0 2px;
    color: white;
    background-color: #29b078;
}

.submenu > ul > li > a:hover {
    color: white;
    background-color: #29b078;
}

.l-item {
    float: left;
    position: relative;
    margin: 1rem 1.65% 2rem;
    width: 30%;
    background-color: white;
    /*box-shadow: 0px 0px 8px #ededed;*/
    border: 1px solid #edf1f2;
}

.hov-text {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.hov-text h2 {
    margin-top: 25%;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

.hov-text p {
    padding: 0 1rem;
    color: white;
    text-indent: 2em;
}

.l-item:hover .hov-text {
    display: block;
}

.l-item > div {
    padding: 1rem;
    min-height: 165px;
}

.l-title {
    height: 5.25rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #333;
    font-weight: 700;
    line-height: 5.25rem;
    border-bottom: 1px solid #d0d6d9;
}

.l-item > div > img {
    float: left;
    margin-right: 1rem;
}

.l-describe > h2 {
    font-size: 1rem;
    color: #333;
    font-weight: 700;
}

.l-describe > p {
    word-break: break-all;
    font-size: .875rem;
    color: #333;
    /*white-space: nowrap;*/
}

@media screen and (max-width: 1200px) {
    .l-item {
        margin: 1rem 2%;
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .l-item {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    .l-item > div > img {
        float: none;
        margin-right: 0;
    }

}

table {
    width: 100%;
}

td {
    height: 2.625rem;
    padding-left: 1rem;
    border: 1px solid #edf1f2;
    word-break: break-all;
    font-size: .75rem;
    color: #999;
}

.star {
    height: .75rem;
    margin-top: -3px;
    margin-left: .5rem;
    line-height: 2.625rem;
}

.s1 {
    color: red;
}

.s2 {
    color: black;
    border-right: none;
}

.s3 {
    padding-right: 1rem;
    text-align: right;
    color: black;
    border-left: none;
}

.s4 {
    padding-left: 0;
    text-align: center;
}

.s5 {
    font-size: .875rem;
    color: black;
    font-weight: 700;
}